/* Ganti ukuran peta sesuai kebutuhan */
#map {
    height: 400px;
    width: 100%;
}

#search-container {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
#search-input {
    padding: 5px;
    margin-right: 5px;
}
#search-button {
    padding: 5px 10px;
}
